<h1>Flickr Photo Viewer</h1>

<%= form_with url: root_path, method: :post, local: true do |f| %>
  <%= f.label :flickr_id, "Enter Flickr ID:" %>
  <%= f.text_field :flickr_id %>
  <%= f.submit "View Photos" %>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="photos">
  <% if @photos %>
    <% @photos.each do |photo| %>
      <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
    <% end %>
  <% end %>
</div>